:root {
  --clr-orange-title: #ff914d;
  --clr-red-title: #ff5757;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
  overflow: none;
  background-image: url('./assets/so-white.png');
}

.section-center {
  /* padding: 0rem 3rem; */
  width: 90%;
  max-width: 1250px;
  margin: 0 auto;
}

.title {
  font-size: 58px;
  margin-bottom: 3rem;
  display: inline-block;
  text-align: center;
  color: #333;
  border-bottom: 5px solid var(--clr-orange-title);
}

.custom-list {
  margin-bottom: 2rem;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
